.app__laurels_awards {
  margin-top: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.app__laurels_awards-card {
  min-width: 230px;

  margin: 1rem;

  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.app__laurels_awards-card img {
  width: 50px;
  height: 50px;
}

.app__laurels_awards-card_content {
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1900px) {
  .app__laurels_awards-card {
    min-width: 390px;
  }
}

@media screen and (min-width: 450px) {
  .app__laurels_awards-card {
    min-width: 100%;

    margin: 1rem 0;
  }
}
